/*RESETEANDO LA PAGINA*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Los estilos de tu proyecto */
/*MENU*/
nav{
  background-color: #fff;
}

.navbar-brand img{
	width: 80%;
  padding: 10%;
}

#navbarNavAltMarkup{
	margin-left: 60%;
}

.nav-item {

}

/*PRIMERA SECCIÓN*/
#container1{
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position: 0% 92%;
  height: 100vh;
}

#row1 .col-4{
  background-color: #ffc107;
  height: 50vh;
  margin-left: 66.7%;
  margin-top: 13.2%;
}

/*VERSION MOVIL*/
#row1 h1, #app{
  display: none;
}


/*VERSION ESCRITORIO*/
#row1 h2{
  color: #fff;
  margin-top: 8%;
  margin-left: 4%;
  line-height: 2px;
}

#row1 h5{
  margin-top: 12%;
  margin-left: 4.5%;
  color: #FFF;
}

#row1 h5 img{
  width: 22%;
  margin-left: 2%;
}

#registro{
  margin-left: 4%;
  text-transform: uppercase;
  font-weight: 500;
  height: 11.5%;
  margin-top: 2%;
}

#conductor{
  margin-left: 4%;
  font-weight: 500;
  height: 11.5%;
  margin-top: 2%;
}

#row1 p{
  color: #FFF;
  margin-left: 45%;
  font-weight: 500;
}


/*SEGUNDA SECCION*/
#container2{
  background-color: #ffc107;
  height: 90vh;
}

/*VERSION MOVIL*/
#newApp{
  display: none;
}

#destination{
  display: none;
}

/*VERSION ESCRITORIO*/
#borde{
  border: 1px solid #FFF; 
  width: 85%;
  height: 70vh;
  margin-top: 5%;
  border-left: none;
}

#cuadro img{
  width: 115%;
  margin-top: 30%;
  margin-left: 45%;
}

#cuadro1 h4, p{
  margin-left: 60%;
  margin-top: -37%;
  color: #FFF;
  width: 40%;
}

#cuadro1 p{
  margin-top: 2%;
}

#cuadro1 h4{
  text-align: center;
  font-size: 28px;
}

/*TERCERA SECCIÓN*/
#container3{
  background-image: url(../assets/images/conduce.jpg);
  background-size: cover;
  background-position: 0% 55%;
  height: 70vh;
}

#text{
  background-color: rgba(0,0,000,0.5);
  height: 456px;
  margin-left: 217.9%;
  width: 100%;
}

/*VERSION MOVIL*/
#conduce{
  display: none;
}

#parrafo{
  display: none;
}

/*VERSION ESCRITORIO*/
#text h3{
  color: #FFF;
  text-align: center;
  padding-top: 25%;
}

#row3 p{
  color: #FFF;
  margin-left: 12.3%;
  width: 80%;
}

#conductor1{
  background-color: #ffc107;
  border: none;
  color: #FFF;
  font-weight: 500;
  margin-left: 13%;
}

/*CUARTA SECCIÓN*/
#container4{
  background-color: #ffc107;
  height: 80vh;
}

#row4 h3{
  color: #FFF;
  margin-top: 10%;
}

#row4 p{
  color: #FFF;
  margin-left: 1%;
  font-weight: 400;
}

#row4 select{
  width: 55%;
  height: 6vh;
  margin-top: 3%;
  margin-left: 5%;
  background-color: #ffc107;
  color: #FFF;
  border: 1.5px solid #FFF;
}

#ruta{
  margin-top: 5%;
  margin-left: 20%;
  font-weight: 500;
  text-transform: uppercase;
}

/*VERSION MOVIL*/
#consulta{
  display: none;
}

/*ICONOS*/
#photo1{
  margin-top: 190%;
  margin-left: 120%;
}

#photo2{
  margin-left: 120%;
  margin-top: 50%;
}

#map {
  height: 400px;
  width: 100%;
  margin-top: 12%;
  margin-left: -20%;
}

/*FOOTER*/
#container5{
  background-color: #252022;
  height: 90vh;
}

#row5 img{
  margin-left: 15%;
  margin-top: 10%;
}

#row5 #firstLine{
  background-color: #FFF;
  margin-left: 15%;
  width: 210%;
}

#file1 ul{
  color: #FFF;
  text-decoration: none; 
  list-style: none;
  width: 150%;
  line-height: 40px;
  margin-left: -180%;
  margin-top: 150%;
}

#file2 ul{
  color: #FFF;
  text-decoration: none; 
  list-style: none;
  width: 150%;
  line-height: 40px;
  margin-left: 60%;
  margin-top: 150%;
}

#row5 #secondLine{
  background-color: #FFF;
  width: 80%;
  margin-left: 8%;
}

#row5 #photo3{
  margin-top: -130%;
  margin-left: 500%;
  width: 70%;
}

#row5 #photo4{
  margin-top: -100%;
  margin-left: 500%;
  width: 70%;
}

#icons{
  color: #FFF;
  margin-left: -10%;
  font-size: 25px;
  margin-top: -5%;
}

#finish{
  margin-left: -50%;
}

/*VERSION MOVIL*/
#finish1{
  display: none;
}